<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Home Page</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="">Home |</a></li>
            <li><a href="/Projects">Projects |</a></li>
            <li><a href="/Contact">Contact</a></li>
        </ul>
    </header>

    <h3>About Me</h3>
    <div class="content">
        <div class="image_name">
        <img src="images/kate_will.JPG" alt="Kate and Will photo">
        <h4>Will Calhoun</h4>
        <h6>I like Stuff!</h6>
        </div>
        <div class="about_para">
        <p>My name is Will! I am a software engineer with a passion in C#. My other passions include anything outdoors, playing sports and video games. I am eager to continue to learn and dedicated to my work. </p>
        </div>
    </div>
</body>
</html>