<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/projects.css">
    <title>Projects</title>
</head>
<body>
     <header>
        <ul>
            <li><a href="">Home |</a></li>
            <li><a href="/Projects">Projects |</a></li>
            <li><a href="/Contact">Contact</a></li>
        </ul>
    </header>
    <h1>This is a list of projects!</h1>
    <div class="project_table">
    <table>
        <tr>
            <th>Project Name</th>
            <th>Description</th>
            <th>Lang Used</th>
        </tr>
        <tr>
            <td>Open Bid</td>
            <td>This is a platform used to connect consumers who are needing work done, with the contractors who can do the work.</td>
            <td>We primarily used Python for our back and and then HTML, CSS and bootstrap for the front end.</td>
        </tr>
         <tr>
            <td>Portfolio</td>
            <td>This is the beggings of my personal Portfolio.</td>
            <td>ASP.NET, CSS. CSHTML, Razor. </td>
        </tr>
    </table>
    </div>
</body>
</html>